<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
<link rel="stylesheet" type="text/css" href="subscribe.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
 <script type="text/javascript" src="app.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>


<script type="text/javascript">
function confirmalert(){
var userselection = confirm("Would you like to submit your information? ");
if (userselection == true){
    alert("Thank you. Your Order Successfully submitted");
	location.reload();
  }
else{
    alert("Sorry! You have declined the process");
}    
}
</script>





<title>Ibra Gym joining Process</title>

</head>




<body class='body'>



<div id="row1">

<div id="hexagon">

</div>



<div class='navbar'>

  <ul>
 <li><a href='index.html'><span>Home</span></a></li>
  <li ><a href='classes.html'><span> Classes</span></a></li>
  <li><a href='subscribe.html'><span>Membership</span></a></li>
   <li><a href='location.html'><span>Locations</span></a></li>
   <li><a href='aboutUs.html'><span>About</span></a></li>
       <li><a href='contact.html'><span>Contact Us</span></a></li>

    </ul>
  </div>









  </ul>
  </div>
</div>


<div class="about-section">
 <h1> We would love to have you with us. Would you like to become a member?</h1>
<h2> Low monthly fee of $14.99: No commitment needed & everything is included</h2>
<h2> Please Fill out the form below</h2>

</div>

<div class = "content" >
<form  ng-controller="validateCtrl"
name="myForm" class="myform" novalidate>

	<fieldset>
    <legend>Registration Info</legend>
	<p>First Name:
	<input type="text" name="first" ng-model="first" required>

	 <span style="color:red" ng-show="myForm.first.$dirty && myForm.first.$invalid||myForm.first.$touched && myForm.first.$invalid">Please first name is required.</span>
<br>
	Last Name:
	<input type="text" name="last" ng-model="last" required>



	   <span style="color:red" ng-show="(myForm.last.$dirty && myForm.last.$invalid)||(myForm.last.$touched && myForm.last.$invalid)"> Please last name is required.</span>
	<br>Email:
	 <input type='email' validate-email name='email' id='email' ng-model='email' required>

	 <span style="color:red"  ng-show="myForm.email.$touched && myForm.email.$error.required">Please email is required.</span>

<!-- this will inform you that you have entered an invalid email address    -->
<span style="color:red"  ng-show="myForm.email.$error.email &&  myForm.email.$touched">You have added an invalid email address.</span>


	<br>
	Phone(Format: ##########):
    <input type="text" ng-model="phone" name="phone"size="10"maxlength="10" ng-pattern="/^[0-9]{10,10}$/" required>
    <span style="color:red" ng-show="myForm.phone.$error.pattern&& myForm.phone.$touched">Please enter a valid Number</span>



 <span style="color:red" ng-show="(myForm.phone.$error.required && myForm.phone.$touched) ">Phone number is required</span>



	<br>
Address:
<input type="text" name="address" ng-model="address" required>

<!-- the style of the error message that would appear if you did not enter the info correctly  -->
<span style="color:red" ng-show="(myForm.address.$touched && myForm.address.$invalid)|| (myForm.address.$touched &&myForm.address.$error.required) ">

Address is required.</span>
<br>
	Zip code:
    <input type="text" ng-model="zip" size="5" name="zip" maxlength="5" ng-pattern="/^[0-9]{5,5}$/" required>
    <span style="color:red" ng-show="myForm.zip.$error.pattern && myForm.zip.$touched">Please enter a valid Zip Code</span>



 <span style="color:red" ng-show="(myForm.zip.$error.required && myForm.zip.$touched) ">Zip code is required</span>

<br>


City:
    <input type="text" ng-model="city" name="city" ng-pattern="/^[a-zA-Z]+$/" required>
    <span style="color:red" ng-show="myForm.city.$error.pattern && myForm.city.$touched">Please enter a valid City</span>
	<span style="color:red" ng-show="myForm.city.$error.required && myForm.city.$touched ">City is required.</span>

State:
<input type="text" name="state"  size="2" minlength="2" maxlength="2" ng-model="state" ng-pattern="/^[a-zA-Z]{2,2}$/"  required>
<span style="color:red" ng-show="myForm.state.$error.pattern">Please enter a valid State</span>
	<span style="color:red" ng-show="myForm.state.$error.required && myForm.state.$touched ">State is required.</span>
	</p>
	</fieldset>







	<fieldset>
	<legend>Credit Card Information</legend>

	Same as registration address <input type="checkbox" ng-model="checkValue" ng-change="change(checkValue)" >


	<p>Name on card:
	<input type="text" name="cname" ng-model="cname" required>

	 <span style="color:red" ng-show="myForm.cname.$dirty && myForm.cname.$invalid||myForm.cname.$touched && myForm.cname.$invalid">Name is required.</span>


	<br>
Billing Address:
<input type="text" name="caddress" ng-model="caddress" required>

<!-- the style of the error message that would appear if you did not enter the info correctly  -->
<span style="color:red" ng-show="(myForm.caddress.$touched && myForm.caddress.$invalid)|| (myForm.caddress.$touched &&myForm.caddress.$error.required) ">

Address is required.</span>
<br>
	Zip code:
    <input type="text" ng-model="czip" size='5' name="czip" maxlength="5" ng-pattern="/^[0-9]{5,5}$/" required>
    <span style="color:red" ng-show="myForm.czip.$error.pattern && myForm.czip.$touched">Please enter a valid Zip Code</span>



 <span style="color:red" ng-show="(myForm.czip.$error.required && myForm.czip.$touched) ">Zip code is required</span>

 <br>

City:
    <input type="text" ng-model="ccity" name="ccity" ng-pattern="/^[a-zA-Z]+$/" required>
    <span style="color:red" ng-show="myForm.ccity.$error.pattern && myForm.ccity.$touched">Please enter a valid City</span>
	<span style="color:red" ng-show="myForm.ccity.$error.required && myForm.ccity.$touched ">City is required.</span>

State:
<input type="text" name="cstate"  size="2" minlength="2" maxlength="2" ng-model="cstate" ng-pattern="/^[a-zA-Z]{2,2}$/"  required>
<span style="color:red" ng-show="myForm.cstate.$error.pattern">Please enter a valid State</span>
	<span style="color:red" ng-show="myForm.cstate.$error.required && myForm.cstate.$touched ">State is required.</span>
<br>

Credit Card Number:
    <input type="text" ng-model="credit" size='16' name="credit" maxlength="16" ng-pattern="/^[0-9]{16,16}$/" required>
    <span style="color:red" ng-show="myForm.credit.$error.pattern&& myForm.credit.$touched">Please enter a valid Credit card Number</span>



 <span style="color:red" ng-show="(myForm.credit.$error.required && myForm.credit.$touched) ">Card number is required</span>


Card type:
 <select>
  <option value="MC">MC</option>
  <option value="Visa">Visa</option>
  <option value="debit">Debit </option>

</select>
<br>
CVV:
    <input type="text" ng-model="cvv" size='3' name="cvv" maxlength="3" ng-pattern="/^[0-9]{3,3}$/" required>
    <span style="color:red" ng-show="myForm.cvv.$error.pattern&& myForm.cvv.$touched">Please enter a valid CVV number</span>



 <span style="color:red" ng-show="(myForm.cvv.$error.required && myForm.cvv.$touched) ">CVV number is required</span>
</fieldset>

<input style="float:right" value="Submit" type="submit" class="sub"
ng-disabled=" myForm.first.$invalid ||
myForm.last.$invalid|| myForm.email.$invalid ||
myForm.phone.$invalid||
myForm.address.$invalid|| myForm.zip.$invalid ||
myForm.city.$invalid||
myForm.state.$invalid||
myForm.cname.$invalid ||
myForm.caddress.$invalid|| myForm.ccity.$invalid ||
myForm.czip.$invalid||
myForm.cstate.$invalid|| myForm.zip.$invalid ||
myForm.credit.$invalid||
myForm.cvv.$invalid"

onClick= "confirmalert()"

>





<input style="float:right" value="Clear" type="reset" class="sub"

ng-disabled=" myForm.first.$invalid &&
myForm.last.$invalid && myForm.email.$invalid &&
myForm.phone.$invalid &&
myForm.address.$invalid && myForm.zip.$invalid &&
myForm.city.$invalid &&
myForm.state.$invalid &&
myForm.cname.$invalid &&
myForm.caddress.$invalid && myForm.ccity.$invalid &&
myForm.czip.$invalid &&
myForm.cstate.$invalid && myForm.zip.$invalid &&
myForm.credit.$invalid &&
myForm.cvv.$invalid"

document.myForm.first.value = "";
document.myForm.last.value = "";
document.myForm.email.value = "";
document.myForm.phone.value = "";
document.myForm.address.value = "";
document.myForm.zip.value = "";
document.myForm.city.value = "";
document.myForm.state.value = "";
document.myForm.cname.value = "";
document.myForm.caddress.value = "";
document.myForm.czip.value = "";
document.myForm.ccity.value = "";
document.myForm.cstate.value = "";
document.myForm.credit.value = "";
document.myForm.cvv.value = "";

onClick="history.go(0)" VALUE="Refresh"

>


	


</p>
</form>




</div>


<div class="footer">
<div class="location">
<p>
8444 40th Avenue Brooklyn, New York, 11214<br>
Phone: 121-121-1114
<p>Copyright ©2020 All Rights Reserved to Mustapha_Bouchaqour®Ibra-gym</p>

</p>

</div>



<a href="https://www.facebook.com/BlinkFitness/"> <img class="social" src="facebook.svg"></a>
<a href="https://www.youtube.com/watch?v=g3ZNprweps0"> <img class="social" src="youtube.svg"></a>
      

</div>
</div>


</body>
</html>